* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather-container {
  background-color: #a9e9ee;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.korea-map {
  border: 1px solid black;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.citynameSeoul {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  top: 25%;
  left: 32%;
}
.citynameBusan {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  top: 66%;
  left: 60%;
}
.citynameJeju {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  top: 82%;
  left: 49%;
}
.citynameDaejeon {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  top: 45%;
  left: 34%;
}
.citynameGwangju {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  top: 65%;
  left: 30%;
}
.citynameUlsan {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  top: 50%;
  left: 66%;
}
.citynameDaegu {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  top: 45%;
  left: 55%;
}
.citynameGangneung {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  top: 20%;
  left: 60%;
}


.citys > div {
  background-color: #b4eaee;
}