* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-container-all {
}

.img-container1,
.img-container2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bike-img1,
.bike-img2 {
  width: 100%;
  height: 100%;
  justify-self: center;
}

/* first */
.just-do-it1 {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 100%;
  height: auto;
  color: white;
  transform: translateX(-400px);
  overflow: hidden;
}
.just-do-it1 > .just {
  opacity: 0;
  transition: all 1.2s ease;
}

.just-do-it1 > .just.show {
  transform: translateX(400px);
  font-size: 200px;
  opacity: 1;
}

/* do */
.just-do-it1 > .do {
  opacity: 0;
  transition: all 1.2s ease;
}

.just-do-it1 > .do.show {
  transform: translateX(400px);
  opacity: 1;
}

/* it */
.just-do-it1 > .it {
  opacity: 0;
  transition: all 1.2s ease;
}

.just-do-it1 > .it.show {
  transform: translateX(400px);
  opacity: 1;
}


/* second */
.just-do-it2 {
  overflow: hidden;
}

.just-do-it2 > h1 {
  font-size: 100px;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 100%;
  height: auto;
  color: black;
  transform: translateY(500px);
  transition: all 1s ease-in-out;
  opacity: 0;
  margin: auto;
}

.just-do-it2 > .no-limits.show2,
.just-do-it2 > .just.show2,
.just-do-it2 > .you.show2,
.just-do-it2 > .give-up.show2 {
  transform: translateY(0);
  opacity: 1;
}

.just-do-it2 > .no-limits.show2 {
  transition: all 1.8s ease;
}

.just-do-it2 > .just.show2 {
  transform: translateY(70px);
  transition: 2.0s ease;
}

.just-do-it2 > .you.show2 {
  transform: translateY(140px);
  transition: all 2.5s ease;
}

.just-do-it2 > .give-up.show2 {
  font-size: 100px;
  transform: translateY(200px);
  transition: all 2.0s ease;
  margin-top: 100px;
}